@tailwind base;
@tailwind components;
@tailwind utilities;

/* Width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 20rem;
  background: #f3f4f6;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 20rem;
  background: #111827;
}
